[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-text-splitters = "*"
langchain-community = "*"
langgraph = "*"
langchain-openai = "*"
python-dotenv = "*"
langchain = {extras = ["google-vertexai"] }
langchain-google-vertexai = "*"
beautifulsoup4 = "*"
langchain-google-genai = "*"
google-genai = "*"
pillow = "*"
flask-healthz = "*"
psycopg = {extras = ["binary"] }
psycopg2-binary = "*"
hypercorn = {extras = ["h3"], version = "*"}
quart-trio = "*"
quart = "*"
quart-wtforms = "*"
flask-bcrypt = "*"
quart-flask-patch = "*"
Quart-CORS = "*"
langgraph-checkpoint-postgres = "*"
uuid7 = "*"
langchain-core = "*"
vertexai = "*"
psycopg-pool = "*"
aioquic = "*"
pydantic = {extras = ["email"], version = "*"}
neo4j = "*"
retry = "*"

[dev-packages]
pytest-flask = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.12"
