[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-text-splitters = "*"
langchain-community = "*"
langgraph = "*"
langchain-openai = "*"
python-dotenv = "*"
langchain = {extras = ["google-vertexai"] }
langchain-google-vertexai = "*"
beautifulsoup4 = "*"
langchain-google-genai = "*"
google-genai = "*"
pillow = "*"
psycopg = {extras = ["binary"] }
psycopg2-binary = "*"
hypercorn = {extras = ["h3"], version = "*"}
quart = "*"
quart-bcrypt = "*"
quart-trio = "*"
quart-wtforms = "*"
Quart-CORS = "*"
langgraph-checkpoint-postgres = "*"
langchain-core = "*"
vertexai = "*"
psycopg-pool = "*"
aioquic = "*"
pydantic = {extras = ["email"], version = "*"}
neo4j = "*"
retry = "*"
langchain-neo4j = "*"
jsonpickle = "*"
mlflow = {extras = ["genai"], version = "*"}
databricks-sdk = "*"
langchain-ollama = "*"
uuid7 = "*"
chromadb = "*"
langchain-chroma = "*"
langchain-nomic = "*"

[dev-packages]
pytest-flask = "*"
pytest = "*"
pytest-asyncio = "*"
langchain-cli = "*"

[requires]
python_version = "3.12"
